extends  ../layouts/main-layout

block title
    title #{docTitle}
block styles
    link(rel="stylesheet", href="/css/product.css")
block content
    main
        if orders.length > 0
            ul.orders
                each order in orders
                    li.orders__item
                        h3 Order # #{order._id} &nbsp;
                            a(href=`/orders/${order._id}`).btn Get Invoice
                        ul.orders__products
                            each product in order.products
                                li.orders__products-item
                                    strong #{product.productData.title} (#{product.quantity})

        else
            h1 Nothing to see here!