extends ../layouts/main-layout


block styles
    link(rel="stylesheet", href="/css/product.css")
block title
    title #{prods.title}
block content
    main
        .grid
            .card.product-item.center-card
                h1.product__title #{prods.title}
                hr
                .card__image
                    img(src=`/${prods.image || "https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png"}` alt="A Book")
                h2.product__price $#{prods.price}
                p.product__description #{prods.description}
                if (isAuthenticated)
                    form(action="/cart" method="post").grid
                        input(name="_csrf" value=`${csrfToken}` type="hidden")
                        button.btn(type="submit") Add to Cart
                        input(type="hidden" name="productId" value=`${prods.id}`)